/***********************General Styles***************************/
/* body {
    font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}*/

/*************************Text Styles*****************************/
h1,h2,h3,h4,h5,h6{
  font-family: "Kedebideri", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-style: bold;
}

h2 {
   font-weight: 600;
   font-style: bold;
}

h3 {
  font-weight: 500;
  font-style: bold;
}

header {
  background-image: linear-gradient(to bottom right, black, green);
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 12px;
  font-weight: bold;
}

/*******************Footer Styles*****************************/
/*******************Mobile Styles*****************************/
/*******************Contact form styles*****************************/
/*************************Link Styles*****************************/
/*************************Image Styles*****************************/

.clothing-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
/*************************Nav Styles*****************************/
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: Center;
  cursor: pointer;
  outline: none;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/*************************footer styles*****************************/
footer .container {
display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.footer-dark {
flex-direction: row;
  padding: 1.5rem 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
margin-top: 0;
  margin-bottom: .8rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-dark ul {
  padding: 0rem;
  list-style: none;
  line-height: 2rem;
  font-size: 1rem;
  margin-bottom: 0rem;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:1.5rem;
  }
}

.footer-dark .item.text {
  margin-bottom:2rem;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

footer .social {
  text-align:center;
  padding: 1rem;
}

footer .social > a {
  font-size: 1.5rem;
  border-radius:50%;
  box-shadow:0 0 0 1px grey;
  display: inline-block;
  text-align:center;
  margin: 0 1rem;
  padding: 1rem;
  width: 1rem;
  opacity:0.75;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:1.5rem;
  }
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat{
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.footer-dark .copyright {
  text-align:center;
  font-size: .8rem;
  margin-bottom:0;
}

/*************************Media Queries*****************************/

/* Media Query for Large screens */
@media (min-width: 1281px) {
 body {
            background-color: yellow;
          }
        }

        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px) {
          body {
            background-color: lightblue;
          }
        }

        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px) {
          body {
            background-color: pink;
          }
        }

        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
          body {
            background-color: teal;
          }
        }

        @media (max-width: 480px) {
          body {
            background-color: whitesmoke;
          }
        }

